/*@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);*/
@font-face {
	font-family: 'Volter';
	src: url(../fonts/volter.ttf);
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font-family: 'Volter', monospace;
	letter-spacing: .4pt;
	image-rendering: pixelated;
}
body {
	padding: 50px;
	counter-reset: layerCount;
}
input {
	outline: none;
}
input:not(:disabled) {
	cursor: pointer;
}
.container {
	background-image: url(../imgs/fundo_appart732.gif);
	background-position: center;
	background-size: cover;
}
.logo-container, .logo, .container, .clone {
	/*background-size: contain;*/
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0; right: 0;
    margin: auto;
}
.logo {
    /*background-image: url(../imgs/trax_8_bit.gif);*/
    background: url(../imgs/00008.png), url(../imgs/module.png), linear-gradient(
    					#ef00b8 840px,
    	#efb100 841px, #efb100 903px, 
    	#89dc00 904px, #89dc00 1239px, 
    	#00d2dc 1240px
    );
    background-size: 171px 21px, 21px 21px, 19px 4431px;
    /*background-position: cover, cover;*/
    background-repeat-x: no-repeat;
    /*background: linear-gradient(red, yellow);*/
    /*background-color: black;*/
    opacity: .4;
    height: 2100px;
}

.logo-container, .clone {
}

.mask {
	transform: translate(0px, 651px);
    overflow: hidden;
    will-change: transform;
    position: absolute;
    transform: none;
    top: 0; left: 0;
    margin-top: 100vh;
}
#traxmachine div#cartuchos {
	display: inline-block;
}
#traxmachine div#cartuchos > div {
	margin: 0 auto;
}
#traxmachine div#cartuchos div#cartuchos-list {
	background-image: url(../imgs/cartuchos-list.png);
	width: 121px;
	padding: 10px 9px 6px 9px;
}
#traxmachine div#cartuchos div#cartuchos-list > div {
	overflow: hidden;
	height: 109px;
}
#traxmachine div#cartuchos div#cartuchos-list div.cartucho {
	line-height: 6.2px;
    overflow: hidden;
    padding-bottom: 8px;
}
#traxmachine div#cartuchos div#cartuchos-list div.cartucho img {
	float: left;
    margin-right: 4px;
    cursor: pointer;
}
#traxmachine div#cartuchos div#cartuchos-list div.cartucho span {
	color: white;
    font-size: 6pt;
    position: relative;
}
#traxmachine div#cartuchos div#cartuchos-list div.cartucho img:hover ~ span:after {
	content: attr(data-use);
    position: absolute;
    left: 0;
    bottom: -1em;
    color: lightgreen;
}
#traxmachine div#cartuchos div#cartuchos-pager {
	background-image: url(../imgs/pager-background.png);
	width: 58px;
	height: 16px;
	padding: 2px 8px 6px 8px;
}
#traxmachine div#cartuchos div#cartuchos-pager div {
	text-align: center;
    display: inline-block;
    width: 38px;
    font-size: 7pt;
    line-height: 17px;
    vertical-align: top;
	color: rgba(255,255,255,.5);
}
#traxmachine div#cartuchos div#cartuchos-pager input#cartuchos-pager-left {
	background-image: url(../imgs/pager-left.png);
	width: 10px;
	height: 16px;
}
#traxmachine div#cartuchos div#cartuchos-pager input#cartuchos-pager-left:disabled {
	background-position: -10px 0;
}
#traxmachine div#cartuchos div#cartuchos-pager input#cartuchos-pager-right {
	background-image: url(../imgs/pager-right.png);
	width: 10px;
	height: 16px;
}
#traxmachine div#cartuchos div#cartuchos-pager input#cartuchos-pager-right:disabled {
	background-position: -10px 0;
}
div#traxmachine {
	width: 559px;
    height: 335px;
    padding: 31px 16px;
	background-image: url(../imgs/traxmachine-background.png);
	margin: 0 auto;
}
div#palhetas {
	margin-left: 4px;
	white-space: nowrap;
	background-image: url(../imgs/palhetas.png);
	padding-left: 4px;
    width: calc(103px * 4);
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
div.palheta {
	width: 97px;
	height: 113px;
	margin-left: 6px;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	background-image: url(../imgs/palheta.png);
}
div.palheta > div {
	width: 97px;
	height: 24px;
    vertical-align: middle;
    display: table-cell;
    padding: 0 6px;
    text-align: center;
}
div.palheta > div:not(.header) {
	background-image: url(../imgs/palheta-no-header.png);
}
div.palheta > div.header {
	cursor: pointer;
	background-image: url(../imgs/palheta-header.png);
	position: relative;
}
div.palheta > div.header:hover span {
	display: none !important;
	text-shadow: none !important;
}
div.palheta > div.header:hover:after {
	content: attr(data-eject);
	position: absolute;
	top: 7px;
	left: 0;
	right: 0;
	font-size: 6pt;
	text-shadow: -1px 0px 0px black, 0px -1px 0px black, -1px -1px 0px black, 1px 0px 0px black, 0px 1px 0px black, 1px 1px 0px black;
}
div.palheta div span {
	font-family: sans-serif;
	font-size: 6pt;
	line-height: 23px;
	white-space: nowrap;
	max-width: 85px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
    text-shadow: -1px 0px 0px black, 0px -1px 0px black, -1px -1px 0px black, 1px 0px 0px black, 0px 1px 0px black, 1px 1px 0px black;
}
ul.piker {
	font-size: 0;
	background-image: url(../imgs/palheta-piker.png);
	background-repeat: no-repeat;
	width: 73px;
	height: 73px;
	padding: 1px 0 0 1px;
	margin: 7px auto;
}
ul.piker li:not([trax-loadingFile]) {
	display: inline-block;
	margin: 1px 2px 2px 1px;
	cursor: -webkit-grab;
}
ul.piker li[trax-loadingFile] {
	display: inline-block;
	margin: 1px 2px 2px 1px;
	cursor: no-drop;
}
/*ul.piker li:hover {
	background-position-y: -21px;
}*/
ul.piker li:active:after {
	cursor: -webkit-grabbing;
	background-position: -21px 0;
}
ul.piker li.module[trax-moduleClass="1"]:active:after, ul.piker li.module[trax-moduleClass="1"][trax-loadingFile]:after {
	background: url(../imgs/00008.png) 1px 1px, url(../imgs/module.png) -21px 0;
}
ul.piker li.module[trax-moduleClass="2"]:active:after, ul.piker li.module[trax-moduleClass="2"][trax-loadingFile]:after {
	background: url(../imgs/00008.png) -18px 1px, url(../imgs/module.png) -21px 0;
}
ul.piker li.module[trax-moduleClass="3"]:active:after, ul.piker li.module[trax-moduleClass="3"][trax-loadingFile]:after {
	background: url(../imgs/00008.png) -37px 1px, url(../imgs/module.png) -21px 0;
}
ul.piker li.module[trax-moduleClass="4"]:active:after, ul.piker li.module[trax-moduleClass="4"][trax-loadingFile]:after {
	background: url(../imgs/00008.png) -56px 1px, url(../imgs/module.png) -21px 0;
}
ul.piker li.module[trax-moduleClass="5"]:active:after, ul.piker li.module[trax-moduleClass="5"][trax-loadingFile]:after {
	background: url(../imgs/00008.png) -75px 1px, url(../imgs/module.png) -21px 0;
}
ul.piker li.module[trax-moduleClass="6"]:active:after, ul.piker li.module[trax-moduleClass="6"][trax-loadingFile]:after {
	background: url(../imgs/00008.png) -93px 1px, url(../imgs/module.png) -21px 0;
}
ul.piker li.module[trax-moduleClass="7"]:active:after, ul.piker li.module[trax-moduleClass="7"][trax-loadingFile]:after {
	background: url(../imgs/00008.png) -113px 1px, url(../imgs/module.png) -21px 0;
}
ul.piker li.module[trax-moduleClass="8"]:active:after, ul.piker li.module[trax-moduleClass="8"][trax-loadingFile]:after {
	background: url(../imgs/00008.png) -132px 1px, url(../imgs/module.png) -21px 0;
}
ul.piker li.module[trax-moduleClass="9"]:active:after, ul.piker li.module[trax-moduleClass="9"][trax-loadingFile]:after {
	background: url(../imgs/00008.png) -151px 1px, url(../imgs/module.png) -21px 0;
}

div#player {
	margin-top: -16px;
}

div#controls {
	display: block;
    height: 23px;
    margin-bottom: -1px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    width: 535px;
    text-align: right;
}
div#controls input:disabled {
	cursor: no-drop;
}
div#controls input#playPause, div#controls input#stop, div#controls input#save, div#controls input#open {
	width: 56px;
	height: 23px;
	margin-right: 5px;
}
div#controls input#playPause:active, div#controls input#stop:active, div#controls input#save:active, div#controls input#open:active {
	background-position: -56px 0;
}
div#controls input#playPause:disabled, div#controls input#stop:disabled, div#controls input#save:disabled, div#controls input#open:disabled {
	background-position: -112px 0;
}
div#controls input#playPause.play {
	background-image: url(../imgs/play.png);
}
div#controls input#playPause.pause {
	background-image: url(../imgs/pause.png);
}
div#controls input#stop {
	background-image: url(../imgs/stop.png);
}
div#controls input#save {
	background-image: url(../imgs/save.png);
}
div#controls input#open {
	background-image: url(../imgs/open.png);
}
div#controls input#clear {
	background-image: url(../imgs/clear.png);
	width: 36px;
	height: 23px;
	margin-right: 5px;
}
div#controls input#clear:active {
	background-position: -36px 0;
}
div#controls input#clear:disabled {
	background-position: -72px 0;
}
div#controls input#moveLeft {
	background-image: url(../imgs/moveLeft.png);
	width: 19px;
	height: 23px;
}
div#controls input#moveLeft:active {
	background-position: -19px 0;
}
div#controls input#moveLeft[disabled] {
	background-position: -38px 0;
}
div#controls input#moveRight {
	background-image: url(../imgs/moveRight.png);
	width: 19px;
	height: 23px;
}
div#controls input#moveRight:active {
	background-position: -19px 0;
}
div#controls input#moveRight[disabled] {
	background-position: -38px 0;
}

div#timeline {
	margin: 0 auto;
    border: 6px solid transparent;
    background-origin: padding-box;
    border-image: url(../imgs/timeline.png) 6 round;
    background: linear-gradient(hsl(196, 18%, 45%), hsl(196, 18%, 45%)) 0 0 / 100% no-repeat;
    font-size: 0;
    width: 531px;
    height: 121px;
    padding: 0px 0px 0px 12px;
    position: relative;
}
div#timeline div.layer {
	background-image: url(../imgs/timeline-layer-background.png);
	display: inline-block;
	margin: 1px 0;
	padding: 2px;
	padding-left: 1px;
	white-space: nowrap;
	position: relative;
}
div#timeline div.layer:before {
	counter-increment: layerCount;
  	content: counter(layerCount);
  	transform: translate(-50%);
    position: absolute;
    left: -6px;
    top: 8px;
  	font-size: 7pt;
  	color: white;
    text-shadow: -1px 0px 0px black, 0px -1px 0px black, -1px -1px 0px black, 1px 0px 0px black, 0px 1px 0px black, 1px 1px 0px black;
}
div#timeline div.layer > div {
	overflow: hidden;
	width: 528px;
	height: 21px;
	position: relative;
}
div#timeline div.layer > div > div {
	position: absolute;
}
div#timeline div.layer div.space {
	display: inline-block;
	font-size: 15px;
	overflow: hidden;
	width: 21px;
	height: 21px;
	margin-left: 1px;
}
div#timeline div.layer div.space.module {
	opacity: .5;
}
.module {
	width: 21px;
	height: 21px;
	overflow: hidden;
	cursor: pointer;
}
.module:after {
	content: "";
	width: 21px;
	height: 21px;
	position: absolute;
}
.module[trax-moduleClass="1"]:not([trax-loadingFile]):after {
	background: url(../imgs/00008.png) 1px 1px, url(../imgs/module.png);
}
.module[trax-moduleClass="2"]:not([trax-loadingFile]):after {
	background: url(../imgs/00008.png) -18px 1px, url(../imgs/module.png);
}
.module[trax-moduleClass="3"]:not([trax-loadingFile]):after {
	background: url(../imgs/00008.png) -37px 1px, url(../imgs/module.png);
}
.module[trax-moduleClass="4"]:not([trax-loadingFile]):after {
	background: url(../imgs/00008.png) -56px 1px, url(../imgs/module.png);
}
.module[trax-moduleClass="5"]:not([trax-loadingFile]):after {
	background: url(../imgs/00008.png) -75px 1px, url(../imgs/module.png);
}
.module[trax-moduleClass="6"]:not([trax-loadingFile]):after {
	background: url(../imgs/00008.png) -93px 1px, url(../imgs/module.png);
}
.module[trax-moduleClass="7"]:not([trax-loadingFile]):after {
	background: url(../imgs/00008.png) -113px 1px, url(../imgs/module.png);
}
.module[trax-moduleClass="8"]:not([trax-loadingFile]):after {
	background: url(../imgs/00008.png) -132px 1px, url(../imgs/module.png);
}
.module[trax-moduleClass="9"]:not([trax-loadingFile]):after {
	background: url(../imgs/00008.png) -151px 1px, url(../imgs/module.png);
}
*[trax-moduleColor='1'] {
	color: #89dc00;
}
*[trax-moduleColor='1'][trax-moduleType='middle']:before, *[trax-moduleColor='1'][trax-moduleType='end']:before {
	background-color: #89dc00;
}
.module[trax-moduleColor='1'] {
	background-image: linear-gradient(#89dc00, #89dc00), linear-gradient(#89dc00, #89dc00), linear-gradient(#89dc00, #89dc00);
}
*[trax-moduleColor='2'] {
	color: #efb100;
}
*[trax-moduleColor='2'][trax-moduleType='middle']:before, *[trax-moduleColor='2'][trax-moduleType='end']:before {
	background-color: #efb100;
}
.module[trax-moduleColor='2'] {
	background-image: linear-gradient(#efb100, #efb100), linear-gradient(#efb100, #efb100), linear-gradient(#efb100, #efb100);
}
*[trax-moduleColor='3'] {
	color: #ef00b8;
}
*[trax-moduleColor='3'][trax-moduleType='middle']:before, *[trax-moduleColor='3'][trax-moduleType='end']:before {
	background-color: #ef00b8;
}
.module[trax-moduleColor='3'] {
	background-image: linear-gradient(#ef00b8, #ef00b8), linear-gradient(#ef00b8, #ef00b8), linear-gradient(#ef00b8, #ef00b8);
}
*[trax-moduleColor='4'] {
	color: #00d2dc;
}
*[trax-moduleColor='4'][trax-moduleType='middle']:before, *[trax-moduleColor='4'][trax-moduleType='end']:before {
	background-color: #00d2dc;
}
.module[trax-moduleColor='4'], *[dragging] {
	background-image: linear-gradient(#00d2dc, #00d2dc), linear-gradient(#00d2dc, #00d2dc), linear-gradient(#00d2dc, #00d2dc);
}
.module, *[dragging] {
	/*content: "";
	width: 21px;
	height: 21px;
	position: absolute;*/
	/*background-image: linear-gradient(attr(trax-collectionColor), attr(trax-collectionColor));*/
	background-size: 13px 21px, 21px 13px, 17px 17px;
	background-position: 4px 0px, 0px 4px, 2px 2px;
	background-repeat: no-repeat;
}
.module[trax-moduleType="middle"]:before, .module[trax-moduleType="end"]:before, *[dragging][trax-moduleType="middle"]:before, *[dragging][trax-moduleType="end"]:before {
	content: "";
    width: 3px;
    height: 13px;
    position: absolute;
    z-index: 1;
    background-image: url(../imgs/union.png);
    transform: translate(-2px, 4px);
}
input#agulha[type=range] {
    -webkit-appearance: none;
    width: 531px;
    height: 10px;
    background: transparent;
    outline: none;
    z-index: 2;
    position: absolute;
    left: 12px;
    bottom: 3px;
    cursor: e-resize;
}
input#agulha[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url(../imgs/agulha.png);
  height: 117px;
  width: 25px;
  margin-top: -107px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  pointer-events: none;
}

.time-stamps {
	display: flex;
	flex-direction: row;
	height: 16px;
	left: 15px;
	pointer-events: none;
	position: absolute;
	bottom: 0px;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 531px;
	overflow: hidden;
	align-items: center;
}
.time-stamps > div {
	position: relative;
}

.time-stamp {
	color: #b6dcdf;
	font-family: Volter;
	font-size: 7px;
	position: absolute
}

#export-music {
	margin-top: 14px;
}

#export-music > h2 {
	font-weight: normal;
	font-size: 7pt;
	color: white;
	padding-left: 10px;
	margin-bottom: 6px;
}

#export-music > div {
	margin: 0 auto;
	border: 6px solid transparent;
	background-origin: padding-box;
	border-image: url(../imgs/timeline.png) 6 round;
	background: linear-gradient(hsl(196, 18%, 45%), hsl(196, 18%, 45%)) 0 0 / 100% no-repeat;
	font-weight: normal;
	font-size: 7pt;
	color: white;
	width: 519px;
	height: 1em;
	position: relative;
	padding: 6px 12px;
	display: flex;
	justify-content: space-between;
	gap: 10px;
	cursor: pointer;
}
#export-music > div.copied:after {
	content: attr(data-copied);
	color: #22353c;
}
#export-music > div > span {
	text-overflow: ellipsis;
	overflow: hidden;
}
