.Controles {
	display: block;
	width: 555px;
	height: 23px;
	margin-bottom: -1px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	text-align: right;
}

.reproduzirPausar {
	background-image: url(./imgs/play.png);
}
.parar {
	background-image: url(./imgs/stop.png);
}
.salvar {
	display: none;
	background-image: url(./imgs/save.png);
}
.abrir {
	display: none;
	background-image: url(./imgs/open.png);
}
.reproduzirPausar, .parar, .salvar, .abrir {
	width: 56px;
    height: 23px;
    margin-right: 5px;
}
.reproduzirPausar:disabled, .parar:disabled, .salvar:disabled, .abrir:disabled {
	background-position: -112px 0;
}
.limpar {
	background-image: url(./imgs/clear.png);
	width: 36px;
	height: 23px;
	margin-right: 5px;
}
.limpar:disabled {
	background-position: -72px 0;
}
.moveEsquerda {
	background-image: url(./imgs/moveLeft.png);
}
.moveDireita {
	background-image: url(./imgs/moveRight.png);
}
.moveEsquerda, .moveDireita {
	width: 19px;
	height: 23px;
}
.moveEsquerda:disabled, .moveDireita:disabled {
	background-position: -38px 0;
}