* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	/*padding: 20vh 0;*/
	padding: 50px;
	font-family: sans-serif;
}
img {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}