* {
	box-sizing: border-box;
	background: transparent;
	margin: 0;
	border: 0;
	padding: 0;
}
body {
	margin: 0;
	/*padding: 20vh 0;*/
	padding: 50px;
	font-family: sans-serif;
	background-image: url(./imgs/fundo_appart732.gif);
	background-position: center;
	background-size: cover;
}
img {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
input[type="button"] {
	outline: none;
}
input:disabled {
	cursor: not-allowed;
}
input:not(:disabled) {
	cursor: pointer;
}