@font-face {
	font-family: 'Volter';
	src: url(./fonts/Volter_Goldfish.ttf);
}
@font-face {
	font-family: 'Volter';
	src: url('./fonts/Volter-Bold_Goldfish.ttf');
	font-weight: bold;
}
.Traxometro {

}
.Traxometro * {
	outline: none;
	color: white;
	font-family: 'Volter', monospace;
	font-weight: bold;
	font-size: 9px;
	letter-spacing: .4pt;
}
button {
	cursor: pointer;
}