@font-face {
	font-family: 'Volter';
	src: url('./fonts/volter.ttf');
}
.Traxometro {
	font-family: 'Volter', monospace;
	letter-spacing: .4pt;
	width: 591px;
    height: 334px;
    padding: 31px 16px;
    background-image: url('./imgs/traxmachine-background.png');
    margin: 0 auto;
}
.Traxometro > *:not(.LinhaDoTempo) {
	display: inline-block;
}