.Televisor {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 988px;
	height: 484px;
	background-image: url(./imgs/vista_hotel.png);
	background-repeat: no-repeat;
	background-position: center calc(50% - 8px);
	background-origin: border-box;
	display: block;
	border: 1px solid transparent;
	border-image-source: url(./imgs/televisor.png);
	border-image-repeat: repeat;
	border-image-width: auto;
	border-image-slice: 68;
	border-width: 19px 14px 34px 14px;
}
.Televisor::before {
	z-index: 0;
	content: '';
	position: absolute;
	left: 54px;
	top: 49px;
	width: 852px;
	height: 348px;
	background: url(./imgs/televisor-glass.png);
}
.Televisor > * {
	z-index: 1;
	position: relative;
}